@charset "utf-8";

/* 롯데월드 사이트 CSS - lotte.css */

/* 외부파일 합치기 */
@import url(./reset.css);

/************** 1.상단영역 **************/
/************** 2.메인영역 **************/
/* 파티션 박스 ul */
.cont>ul{
    /* 플렉스박스 */
    display: flex;
    /* 높이값을 보이는 화면기준 채우기 */
    height: 100vh;
}
/* 파티션 박스 li */
.cont>ul>li{
    position: relative;
    /* 부모자격 - 하위 img */

    /* 플렉스 자식요소 등분할 설정 */
    flex: 1;
    /* 가로는 등분할, 세로는 100%채움! */

    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out;
}
/* 파티션 li박스 가상요소로 오버레이 효과주기 */
.cont>ul>li::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* 앱솔루트 사방채우기 */
    background-color: #000;
    opacity: 0.5;

    /* 트랜지션: 속시이지 */
    transition: all .4s ease-out;
}

/* 파티션 li에 마우스 오버시 */
/* li넓어지기 */
.cont>ul>li:hover{
    flex: 1.4;
    /* 
        flex: 1 -> 등분할 설정
        -> 여기에 다른 숫자를 쓰면
        기존 1로 등분할 된 것에 비교하여
        2를 쓰면 2배... 이런식의
        배수를 셋팅하게 됨!
    */
}
/* 가상요소 암전 밝아지기 */
.cont>ul>li:hover::before{
    opacity: 0;
}


/* 각 파티션 박스에 배경 이미지 넣기 */
.cont > ul > li:first-child {
    background: url(../images/m01_bg.jpg) no-repeat center/cover;
}
.cont > ul > li:nth-child(2) {
    background: url(../images/m02_bg.jpg) no-repeat center/cover;
}
.cont > ul > li:nth-child(3) {
    background: url(../images/m03_bg.jpg) no-repeat center/cover;
}
.cont > ul > li:nth-child(4) {
    background: url(../images/m04_bg.jpg) no-repeat center/cover;
}
.cont > ul > li:nth-child(5) {
    background: url(../images/m05_bg.jpg) no-repeat center/cover;
}

/* 타이틀 + 로고 이미지 공통 셋팅 */
.cont>ul>li>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(70%,250px);
    /* 부모박스의 70%적용시 최대 250px한계설정 */
}
/* 로고만 셋팅변경 */
.cont>ul>li>img:last-child{
    top: 80%;
    width: auto;
}

/************** 3.하단영역 **************/