@charset "UTF-8";
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
ol::after,ul::after{
    content: '';
    display: block;
    clear: both;
}
li{
    float: left;
}