/* notosans CDN */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Montserrat CDN */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;800&display=swap');
/* malgun-gothic-boot CDN */
@import url('https://fonts.cdnfonts.com/css/malgun-gothic-boot');
/* Work-Sans CDN */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Poppins CDN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* notosanskr */
.notosanskr { 
    font-family: 'Noto Sans KR';
}

/* Montserrat */
.Montserrat {
    font-family: 'Montserrat';
}

/* Malgun-Gothic-Boot */
.Malgun-Gothic-Boot {
    font-family: 'Malgun Gothic Boot', sans-serif;
}

/* Work-Sans */
.Work-Sans {
    font-family: 'Work Sans', sans-serif;
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../css/fonts/Pretendard-SemiBold.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard_Regular';
    src: url('../css/fonts/Pretendard-Regular.otf') format('otf');
}

/* Poppins */
.Poppins {
    font-family: 'Poppins', sans-serif;
}

/* Happiness-Sans */
@font-face {
    font-family: 'Happiness-Sans';
    src: url(../css/fonts/Happiness-Sans-Regular.woff) format(woff);
    src: url(../css/fonts/Happiness-Sans-Title.woff) format(woff);
}