@charset "utf-8";

/* 메인 컨텐츠 */
@media screen and (max-width: 1220px) {
    .section2_inner {
        width: 100%;
        flex-direction: column;
    }

    .main-hot-deal {
        text-align: center;
    }

    .section2-title {
        width: 100%;
    }

    .section2_container {
        margin-top: 80px;
    }

    .section2-title > a {
        position: static;
    }

    .section2_container {
        margin-top: 0;
    }

    .section2-title {
        margin: 80px 0 60px 0;
    }

    .main-swiper-nav > .main-navBtnN {
        right: 25%;
    }

    .main-swiper-nav > .main-navBtnL {
        left: 25%;
    }

    .swiper2 {
        margin: 0 20px;
    }

    .special_cont_wrap, .spring_cont_wrap  {
        flex-direction: column;
    }
    
    .spring_cont_wrap {
        flex-flow: column-reverse;
    }

    .section3_inner, .section4_inner {
        width: 100%;
    }

    .ban-item-tit {
        width: auto !important;
        margin: 30px auto !important;
    }

    .special_cont_wrap > .special-item-list,
    .spring_cont_wrap > .spring-item-list {
        width: auto;
    } 

    .spring_cont_wrap > .spring-item-list {
        margin-left: 10px;
    }

    .special_cont_wrap > .special-item-list {
        margin-left: -10px;
    }

    .main3-navBtnL, .main4-navBtnL {
        left: -40px;
    }

    .main3-navBtnN, .main4-navBtnN {
        right: -40px;
    }

    .footer-info-wrap > .f-box-w1 {
        width: auto;
    }

    .footer-info-wrap {
        flex-wrap: wrap;
    }
    
    .mo_main_nav_is-fixed {
        display: block;
    }
    
    .f-sns-list {
        position: absolute;
        top: 0;
        right: 0;
    }

    .f-copyright {
        margin-top: 20px;
        padding: 30px 0 80px;
    }

    .f-info {
        margin: 30px 0 20px;
    }
}

/* 1250 이하 미디어쿼리 구역 */
@media screen and (max-width: 1100px) {
    .fixed_wrap {
        display: none;
    }

    .swiper {
        height: auto;
    }

    .section2-title > .text_head1 {
        font-size: 26px;
    }

    .banner-control {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1080px) {
    .txt-marquee {
        display: none;
    }
}

@media screen and (max-width: 771px) {
    .f-sns-list {
        position: static;
        float: none;
        padding: 20px 0;
    }
}

@media screen and (max-width: 730px) {
    .main-swiper-nav > .main-navBtnN {
        right: 15%;
    }

    .main-swiper-nav > .main-navBtnL {
        left: 15%;
    }
}

@media screen and (max-width: 480px) {
    .main-swiper-nav > .main-navBtnN {
        right: 10%;
    }

    .main-swiper-nav > .main-navBtnL {
        left: 10%;
    }

    .section2-title > .text_head1 {
        font-size: 24px;
    }

    .section2-title > a {
        font-size: 14.5px;
    }
}
