
/********* 1. NEW - 서브메뉴 *********/
.new-prod-cont {
    margin-top: 30px;
}

section.new_container {
    padding: 50px 0;
}

.new_inner {
    width: 1080px;
    margin: 0 auto;
}

.new-prod-tab {
    position: relative;
}

.new-prod-tab > ul {
    display: flex;
    margin: 0 10px;
}

.new-prod-tab > ul > li {
    flex: 1;
    height: 62px;
    line-height: 62px;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-bottom: 3px solid #000;
    background: #FAFAFA;
    cursor: pointer;
}

.new-prod-tab > ul > li.clicked {
    background-color: #fff;
    border: #191919 2px solid;
    color: #000;
    border-bottom: transparent;
}

.new-prod-cont > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-prod-cont > ul > li {
    position: relative;
    width: 25%;
    margin-bottom: 50px;
    padding: 0 10px;
}

.new-prod-bx img {
    width: 250px;
    height: 340px;
    object-fit: cover;
    margin-bottom: 10px;
}

.new-prod-bx p {
    padding: 4px 0 5px;
    letter-spacing: -1.5px;
}

.prod-discount-price > em {
    font-size: 22px;
    font-style: normal;
    font-family: var(--mont-font1);
}

.original-price > em,
.discount-price > em,
.percent-price > em {
    font-style: normal;
    font-size: 22px;
    font-family: var(--mont-font1);
}

.discount-price > span {
    font-size: 14px;
    vertical-align: 1px;
}

.discount-price,
.prod-discount-price {
    letter-spacing: -5px;
    font-family: var(--mont-font1);
}

.original-price > em,
.original-price > span {
    color: #999;
    font-size: 13px;
    text-decoration: line-through;
    display: inline-block;
}

.original-price > span {
    margin-left: -5px;
}

.percent-price {
    color: #ff1e00;
    float: right;
    font-size: 20px;
    letter-spacing: -10px;
}

.prod-txt {
    font-size: 14px;
}

.showmore_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    height: 60px;
    line-height: 58px;
    font-size: 16px;
    letter-spacing: -.8px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}

/********* 3. WOMEN - 서브메뉴 *********/
.sub_inner {
    padding-top: 30px;
}

.cat_left_side_tab {
    float: left;
    width: 208px;
}

.cat_left_side_tab > h2 {
    font-size: 26px;
    font-family: var(--mont-font1);
    font-weight: 700;
    margin: 0 0 12px 10px;
}

.cat_left_side_tab > .ctg_link {
    padding: 20px 12px 30px;
}

.cat_left_side_tab > .ctg_link a,
.cat_left_side_tab > .ctg_nav .ctg_depth1 span {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--notos-font1);
    line-height: 28px;
}

.cat_left_side_tab > .ctg_link > ul > li+li,
.cat_left_side_tab > .ctg_nav > ul > li+li {
    margin-top: 20px;
}

.ctg_depth1 > div {
    position: relative;
}

.cat_left_side_tab > .ctg_link em {
    font-style: normal;
    font-size: 15px;
    color: #FF1E00;
    vertical-align: top;
    font-weight: 500;
    font-family: var(--mont-font1);
}

.cat_left_side_tab > .ctg_nav {
    padding: 10px 0 0 12px;
    border-top: 1px solid #F1F1F1;
}

.ctg_nav > ul > li,
.ctg_link > ul > li  {
    position: relative;
    cursor: pointer;
}

.ctg_nav > ul > li > div > a::after {
    content: '';
    position: absolute;
    background: url(../00.data/02.imgData/ico_common.png) no-repeat -62px -115px;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}

.ctg_depth2 > ul > li > a {
    color: #666;
    font-size: 14px;
    line-height: 30px;
}

.ctg_depth2 > ul > li {
    position: relative;
}

.ctg_depth2 > ul > li > a::after {
    content: '';
    position: absolute;
    background: url(../00.data/02.imgData/ico_common.png) no-repeat -102px -98px;
    width: 10px;
    height: 10px;
    right: 20px;
    top: 50%;
    margin-top: -5px;
}

.ctg_depth2 {
    display: none;
    margin: 18px 0;
}

.ctg_depth1 > div.slide-down > a::after {
    background-position: -72px -115px;
}

.item-cat-filter__list > li {
    display: flex;
    padding: 10px 0;
}

.filter-item > ul > li {
    display: inline-block;
}

.filter-item > ul > .color-record > button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.filter-item > ul > .color-record > button::after {
    content: '';
    position: absolute;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0.06;
}

.filter-item > ul > .color-record:nth-child(1) > button {
    background: #fff;
}

.filter-item > ul > .color-record:nth-child(2) > button {
    background-color: #feffef;
}

.filter-item > ul > .color-record:nth-child(3) > button {
    background-color: #ebdcc5;
}

.filter-item > ul > .color-record:nth-child(4) > button {
    background-color: #fdeb00;

}
.filter-item > ul > .color-record:nth-child(5) > button {
    background-color: #ED0000;
}

.filter-item > ul > .color-record:nth-child(6) > button {
    background-color: #603417;
}

.filter-item > ul > .color-record:nth-child(7) > button {
    background-color: #56754c;
}
.filter-item > ul > .color-record:nth-child(8) > button {
    background-color: #0000fd;
}

.filter-item > ul > .color-record:nth-child(9) > button {
    background-color: #8d068e;

}
.filter-item > ul > .color-record:nth-child(10) > button {
    background-color: #a9a9a9;
}

.filter-item > ul > .size-record > button {
    position: relative;
    margin: 0 5px;
    width: 50px;
    line-height: 20px;
    cursor: pointer;
    color: #666;
    font-size: 12px;
}

.filter-item > ul > .size-record > button::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 20px;
    border: 1px solid #ccc;
    left: 50%;
    transform: translate(-50%, 0);
}

.item-cont-list {
    float: right;
    width: 840px;
}

.sub_container {
    width: 1080px;
    margin: 0 auto;
}

.filter-tit {
    width: 80px;
    font-size: 13px;
}

.filter-item > ul > li > label {
    font-size: 12px;
    color: #666;
    margin-left: 8px;
    position: relative;
    vertical-align: middle
}

.filter-item > ul > li > label > input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.filter-item > ul > .direct-user-input {
    margin-left: 20px;
}

.filter-item > ul > li > label span {
    padding-left: 20px;
}

.filter-price > .custom-filter-price {
    position: relative;
    width: 80px;
    display: inline-block;
}

.custom-filter-price > input.is_active {
    background-color: #fff !important;
}

.custom-filter-price > input {
    background-color: #ddd;
    border: 1px solid #ccc;
    width: 100%;
    height: 27px;
    text-align: right;
    color: #666;
}

.price-filter-check-btn {
    border: 1px solid #000;
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    line-height: 25px;
}

.filter-price {
    display: inline-block;
}

.item-cat-filter-row {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.option-right {
    position: relative;
    display: flex;
    padding: 5px 0;
    justify-content: end;
    font-family: var(--pop-font1);
}

.item-cat-option {
    border-bottom: 1px solid #ddd;
}

.item_sort {
    position: relative;
    border: 1px solid #000;
    width: 180px;
    height: 46px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    z-index: 99;
}

.item_sort > strong > i {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../00.data/02.imgData/icon_menu.svg);
    background-repeat: no-repeat;
    background-position: left top;
    left: 15px;
    margin-top: 13px;
}

.product-sort-list {
    top: 44px;
    width: 180px;
    position: absolute;
    left: -0.5px;
    padding: 10px 0;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid;
}

.prdCount strong {
    font-size: 20px;
}

.prdCount {
    line-height: 45px;
}

.item_sort strong {
    font-size: 15px;
    line-height: 50px;
    padding-left: 40px;
}

.item_sort strong.style_black::after {
    transform: rotate(-45deg);
    border-top: 2px solid #ffff;
    border-right: 2px solid #ffff;
    margin-top: 4px;
}

.item_sort strong::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg);
    right: 21px;
    top: 40%;
}

.product-sort-list > li {
    font-size: 14px;
    line-height: 40px;
    padding-left: 40px;
}

.item_sort.style_black {
    background-color: #000;
    color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.product-sort-list.style_black {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
}

.product-sort-list > li > a.style_black {
    color: #fff;
}

.item_sort > strong > i.style_black {
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: right top;
    left: 15px;
    margin-top: 13px;
}

.star {
    display: block;
    background: url(../00.data/02.imgData/ico_grade.png) no-repeat 0 -12px;
    width: 60px;
    height: 12px;
    line-height: 14px;
}

.star > strong {
    letter-spacing: -2px;
    color: #949494;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    margin-left: 65px;
}

.ui-col4 li {
    position: relative;
    width: 25%;
    margin: 15px 0 30px 0;
    padding: 0 10px;
}

.ui-col4 li img {
    width: 100%;
    height: 100%;
}

.box_grade {
    margin-top: 8px;
}

.ui-col4 {
    display: flex;
    flex-wrap: wrap;
}