
/* DC.com 전체 레이아웃 CSS */

main.cont{
    /* 최소높이 상단,하단제외 채우기
    - 하단 여백이 생기는 일이 없어짐! */
    min-height: calc(100vh - 58px - 210px);
}
.top-area{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 9999;
    background-color: #fff;    
    font-family: 'Ubuntu Condensed', sans-serif;
}
/* 로그인 환영메시지 박스 */
.logmsg{    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.gnb{
    max-width: 1320px;
    margin: 0 auto;
}
.gnb ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 20px
}
.gnb>ul>li{
    /* 상위메뉴 부모자격 */
    position: relative;
    line-height: 58px;
}
.gnb a{
    color: #111;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}
.gnb a:hover{    
    color: #007aff;
}



/* 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.503));
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.503); 
    -> 일반박스 그림자를 주면 가상요소에는 그림자 안생김
    filter의 드롭쉐도우를 사용하면 전체구성요소를 통합한
    그림자가 생성된다!!! */
    white-space: nowrap;
    line-height: 2.5;
    /* 처음에 안보임 */
    display: none;
}
/* 오버시보임 */
.gnb>ul>li:hover .smenu{
    display: block;
}
/* 삼각형모양 디자인 */
.smenu::after{
    content: '';
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

h1{
    text-align: center;
}

/* gnb 검색입력창 박스 */
.searchingGnb{    
    position: absolute;
    left: -230px;
    top: 9px;
    line-height: 41px;

    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: #efefef;
    box-sizing: border-box;
    padding: 0 5px;
    display: none;/* 처음에 안보임! */
}
.searchingGnb input{
    font-size: 15px;
    width: 77%;
    margin-top: 5px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}
.schbtnGnb{
    cursor: pointer;
    margin-top: 9px;
    margin-left: 10px;
}


/* 메인영역 */

/* 하단영역 */
.info{
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.info>ul>li:last-child{
    font-weight: bold;
}
/* 하단 ol>li>a 링크박스 */
ol.bmenu{
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.bmenu li{
    padding: 0 10px;
}
.bmenu li + li{
    border-left: 2px solid #fff;
}
.bmenu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}
.bmenu a:hover{
    color: #007aff;
}

/* 햄버거버튼 */
.hambtn{
    position: absolute;
    right: 30px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.hambtn::before{
    content: '≡';
}
.top-area.on .hambtn::before{
    content: '×';
}

/* 1320px이하 미디어쿼리 */
@media screen and (max-width:1320px) {
    html,body{
        overflow-x: hidden;
    }
    body{
        padding-top: 58px;
        /* 첫번째 컨텐츠 가려짐방지 패딩 */
    }
    .top-area{
        /* 보이는 화면고정 */
        position: fixed;
        top: 0;
        width: 100vw;
        height: 58px;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 9999;
        transition: .4s ease-out;
    }
    .top-area.on{
        height: 100vh;
    }
}


/* 1024px 이하 미디어쿼리 */
@media screen and (max-width:1024px) {

    /* 모바일 모드일때 넘치는 자식숨기기 */
    .top-area{
        overflow: hidden;
    }

    /* 로그인 환영메시지박스 */
    .logmsg {
        top: 18px;
    }

    /* GNB박스 */
    .gnb{
        background-color: #fff;
    }
    .gnb>ul>li{
        position: static;
    }
    .gnb>ul>li:nth-child(2){
        border-top: 2px solid #ccc;
    }
    /* 메뉴 CHARACTERS ~ OPINION */
    .gnb>ul>li:nth-child(1)~li:nth-child(-n+8)
    {
        /* outline: 2px dotted red; */
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        text-indent: 50px;
    }
    .gnb>ul>li:nth-child(2){
        top: calc(58px * 1);
    }
    .gnb>ul>li:nth-child(3){
        top: calc(58px * 2);
    }
    .gnb>ul>li:nth-child(4){
        top: calc(58px * 3);
    }
    .gnb>ul>li:nth-child(5){
        top: calc(58px * 4);
    }
    .gnb>ul>li:nth-child(6){
        top: calc(58px * 5);
    }
    .gnb>ul>li:nth-child(7){
        top: calc(58px * 6);
    }
    .gnb>ul>li:nth-child(8){
        top: calc(58px * 7);
        border-bottom: 1px solid #000;
    }
    /* Join Us / LOGIN */
    .gnb>ul>li:nth-child(10) > a,
    .gnb>ul>li:nth-child(11) > a    
    {
        position: absolute;
        top: calc(58px * 8);
        left: 5%;
        text-align: center;
        width: 40%;
        border-radius: 30px;
        border: 2px solid #000;
        background-color: #fff;
        white-space: nowrap;
        margin-top: 20px;
        transition: .3s;
    }
    .gnb>ul>li:nth-child(11) > a{        
        left: 55%;
    }
    .gnb>ul>li:nth-child(10) > a:hover,
    .gnb>ul>li:nth-child(11) > a:hover  {
        color: #fff;
        background-color: #0d6efd;
    }
    .gnb>ul>li:nth-child(3) > a::after,
    .gnb>ul>li:nth-child(4) > a::after  {
        content: '▼';
        font-size: 11px;
        vertical-align: 2px;
        margin-left: 5px;
    }
    /* 서브메뉴 들어쓰기 없앰 */
    .smenu{
        text-indent: 0;
    }
    /* 검색박스 */
    .searchingGnb{
        left: 80px;
        width: 80%;
    }

    /* 햄버거버튼 */
    .hambtn{
        display: block;
    }

    /* 서브메뉴 */
    .smenu {
        left: 5%;
        transform: none;
        z-index: 1;
    }
    
    
}