/* 메인배너용 CSS - banner.css */
.banner{
    position: relative;
    overflow: hidden;
    /* 넘치는 배너 숨기기 */
}
.bantit{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    padding-left: 10vw;
    color: #fff;
    text-shadow: 0 0 3px #000;

    text-align: left;
    width: 30%;
}
.bantit button{
    margin-top: 20px;
}
/* 배너슬라이드 */
.slider{
    position: relative;
    left: 0;
    display: flex;
}
.slider li{
    position: relative;
    /* 부모자격 */
    width: 100%;
    flex-shrink: 0;
    /* 강제축소옵션 해제 */
}
/* 배너 컨텐츠버튼 */
.banner button{
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;    
    background-color: rgb(0 0 0 / .5);
}
.banner button:hover{
    background-color: #0074e8;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 이동버튼 */
.banner .abtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    padding: 0;
    box-sizing: content-box;
    line-height: 40px;
    cursor: pointer;
}
.lb{
    left: 5vw;
}
.rb{
    right: 5vw;
}
/* 블릿 */
.indic{
    position: absolute;
    left: 50%;
    bottom: 3vh;
    transform: translateX(-50%);
    display: flex;
}
.indic li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
}
.indic li.on{
    background-color: rgba(255, 255, 255, 0.9);
}
