@charset "utf-8";


@import url(main.css);
@import url(reset.css);
@import url(core.css);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');


/* 상단영역 */
#top {
    position: relative;
    z-index: 10;
    background: url(../images/topbg.jpg) no-repeat top/cover;
    height: 120px;
    width: 100%;
}
/* asmr 타이틀 */
h1.tit {
    color: aliceblue;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    line-height: 120px;
    text-align: center;
    text-shadow: 0 0 5px aliceblue;
    animation: titAni 1.2s ease-in infinite alternate;
}
/* 타이틀 애니메이션 */
@keyframes titAni {
    100% {
        text-shadow: 0 0 10px aliceblue;
    }
}

/* 네비게이션 메뉴 */
.gnb {
    position: absolute;
    right: 10px;
    bottom: 25px;
}
.glist {
    position: relative;
    display: flex;
    font-family: 'Cinzel', serif;
}
.glist>li {
    padding: 0 15px;
    padding-bottom: 10px;
    position: relative;
}
.glist>li:first-child{
    display:none;
}
.glist>li>a {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
/* 네비게이션 호버 시 */
.glist>li:hover .smenu {
    display: block;
}
.glist a:hover {
    color: rgb(255, 217, 0);
}

/* 서브메뉴 */
.smenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 120px;
    /* height: 120px; */
    background: white;
    /* border-radius: 10px; */
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.447);
    padding: 7px;
    margin-top: 10px;
    display: none;
}
/* 서브메뉴 삼각형만들기 */
.smenu::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;

    width: 0;
    height: 0;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
/* 서브메뉴 디자인 */
.smenu a {
    display: block;
    color: #000;
    line-height: 40px;
    text-align: center;
}
.smenu li {
    width: 100%;
    height: 100%;
}
/* 서브메뉴 호버 시 */
.smenu a:hover {
    background-color: aliceblue;
    color: royalblue;
    font-weight: bold;
    text-decoration: underline;
}


/* 하단영역 */

#info {
    position: relative;
    height: 120px;
    border-top: 1px solid #333;
}
#info address {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 50%;

    color: #eee;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-size: 1vw;
    /* font-size: 14px; */
    line-height: 20px;
    /* padding-top: 30px; */
}
#info img {
    padding: 0 20px;
    width: 64px;
    height: 64px;
    float: left;
}


/* sns 아이콘 영역 */
.sns{
    position: absolute;
    display: flex;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
}
.sns li{
    /* margin: 10px; */
    padding: 10px;
}
.sns a{
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    
    color: white;
    /* font-weight: bold; */
    text-align: center;
    line-height: 35px;
}
.sns li:hover a{
    background-color: #fff;
    color: #000;
    transition: .3s ease-out;
    transform: scale(1.15);
}
