@charset "utf-8";

@import url(reset.css);
@import url(core.css);

body {
    background-color: black;
}

body * {
    /* outline: 1px dashed silver; */
}

.part {
    max-width: 1200px;
    margin: 0 auto;
}

/* 상단영역 */
#top {
    position: relative;
    z-index: 10;
    background: url(../images/topbg.jpg) no-repeat top/cover;
    height: 120px;
    width: 100%;
}

h1.tit {
    color: aliceblue;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    line-height: 120px;
    text-align: center;
    text-shadow: 0 0 5px aliceblue;
    animation: titAni 1.2s ease-in infinite alternate;
}

@keyframes titAni {
    100% {
        text-shadow: 0 0 10px aliceblue;
    }
}

/* 네비게이션 메뉴 */
.gnb {
    position: absolute;
    right: 10px;
    bottom: 25px;
}

.glist {
    position: relative;
    display: flex;
    font-family: 'Cinzel', serif;
}

.glist>li {
    padding: 0 15px;
    padding-bottom: 10px;
    position: relative;
}

.glist>li>a {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.glist>li:hover .smenu {
    display: block;
}

.glist a:hover {
    color: rgb(255, 217, 0);
}


/* 서브메뉴 */
.smenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 120px;
    /* height: 120px; */
    background: white;
    /* border-radius: 10px; */
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.447);
    padding: 7px;
    margin-top: 10px;
    display: none;
}

/* 서브메뉴 삼각형만들기 */
.smenu::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;

    width: 0;
    height: 0;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.smenu a {
    display: block;
    color: #000;
    line-height: 40px;
    text-align: center;
}

.smenu li {
    width: 100%;
    height: 100%;
}

.smenu a:hover {
    background-color: aliceblue;
    color: royalblue;
    font-weight: bold;
    text-decoration: underline;
}


/* 메인영역 */

#cont {
    background: url(../images/tv.jpg) no-repeat top;
    background-size: 100%;
    height: 1050px;
    position: relative;
}

#screen {
    position: absolute;
    width: 538px;
    height: 346px;
    left: 27.3%;
    top: 13.7%;
    background-color: #000;
}

#screen iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* 촛불 */
.candle>img{
    position: absolute;
    width: 100px;
    left: 40px;
    top: 40px;
    transform-origin: bottom;
}
.candle:hover>img{
    transform: rotate(25deg);  
    transition: .5s ease-in-out;
}
.candle span{
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(255, 226, 5, 0.639);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 226, 5, 0.735);
}

/* 플레이리스트 6개 */
.mlist {
    position: absolute;
    top: 53%;
    left: 50%;
    width: 1200px;
    transform: translateX(-50%);
    overflow: hidden;
}

.mlist ul {
    display: flex;
}

.mlist ul>li {
    position: relative;
    flex: 1;
    margin: 0 0.5%;
}

.mlist img {
    width: 210px;
    vertical-align: bottom;
    border: 1px solid transparent;
    /* box-sizing: border-box; */
}
.mlist img::after{
    /* border: 1px solid aliceblue; */
}


/* 플레이 리스트 텍스트 */
.movtxt {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 60%;

    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.4vw;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.577);

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.749), rgba(0, 0, 0, 0));
    transition: top .5s ease-in-out;
    /* display: none; */
}

.movtxt li:first-child {
    color: rgb(130, 161, 255);
    /* padding-top:30%; */
}


/* 플레이 리스트 호버 시 */
.mlist li:hover .movtxt {
    display: block;
    top: 40%;
}
.mlist li:hover img{
    border: 2px solid aliceblue;
    box-shadow: 0 0 20px rgba(240, 248, 255, 0.555);
}



/* 하단영역 */
#info {
    height: 100px;
    position: relative;
}

#info address {
    color: #eee;
    font-style: normal;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
}

#info img {
    padding: 0 20px;
    width: 64px;
    height: 64px;
    float: left;
}