/* DC.com 핵심공통 CSS - core.css */
/* Ubuntu체 */
@font-face {
    font-family: 'Ubuntu';
    src: url(../static/fonts/Ubuntu-Regular.woff2) format("woff2");
}

/* Ubuntu Condensed체 */
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url(../static/fonts/UbuntuCondensed-Regular.woff2) format("woff2");
}

/* 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
*/
