/* @charset "utf-8";
-> 컴포넌트파일에서 import할경우
페이지에 인터널형식으로 삽입되므로 charset은
불필요하다! */
/* 전체 페이지 공통 CSS
- index.html 페이지 전체에 적용됨! */
html,body,ul,ol,dl,dt,dd,p,figure,figcaption,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
body{
  background-color: #e5e5e5;
}
/* ul,ol */
ul,ol{
  list-style: none;
}
