@charset "utf-8";
/* 외부CSS 상단엔 @charset 필수!  */
/* Info PJ 공통 CSS - common.css */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Jua&family=Nanum+Gothic&display=swap");

/* 
    1. 타이틀용
    font-family: 'Black And White Picture', sans-serif;
    2. 메뉴/하단영역용
    font-family: 'Jua', sans-serif;
    3. 일반내용용
    font-family: 'Nanum Gothic', sans-serif;
*/

/* 
    [스타일 시트 문법 영역!
    기본문법]
    
    선택자{
        속성:값;
    }

    [ CSS 박스모델 ]
    -> 모든요소는 박스형태로
    그 디자인을 설정한다!
    참고) 
    https://www.w3schools.com/css/css_boxmodel.asp

    -> 5가지 속성을 셋팅한다!
    1. width : 가로크기
    2. height : 세로크기
    3. padding : 안쪽여백
    4. border : 경계선
    5. margin : 바깥여백

    -> 박스모델의 적용은 블록요소를
    기본으로 한다!

    [ CSS 선택자 (Selector) ]

    1. 타입선택자 : 요소명으로 선택
    예) h1{}, div{}, a{}

    2. 아이디선택자 : #
    예) #my{}

    3. 클래스선택자 : .
    예) .my{}

    4. 종속선택자 : 
    요소명#아이디명 / 요소명.클래스명
    요소명#아이디명.클래스명 
    예) div#my{} -> div요소인데 아이디가 my이다
    예) a.my{} -> a요소인데 클래스가 my이다
    -> 기본적으로 종속선택자는 요소분석기에 사용
    -> 특정요소에 특정이름을 밝혀야 할 경우
    -> 클래스적용시 같은 이름으로 다른 디자인을줄때
    예) div.on{} header.on{} 
    -> 같은 클래스인데 다른 디자인 적용가능!

    5. 그룹선택자 : ,(콤마)
    예) h1,div,a {}

    6. 자손 선택자 : 띄어쓰기
    예) div a {} -> div 하위의 모든 a요소들

    7. 직계자식 선택자 : > (왼쪽꺾쇠)
    예) header>a{} -> header 바로아래 a요소

    8. 형제선택자 : + 
    예) div+div{} -> 앞에 형제div가 있는 div선택
    예) a+a{} -> 앞에 a가 있는 a선택
    -> 첫번째를 제외한 나머지 형제요소들 선택시 많이씀

*/

/* 기본마진 패딩 없애기 */
html,
body {
    margin: 0;
    padding: 0;
    /* 실제는 body에만 마진 8px이 있지만
    사용자가 별도로 적용한 마진등 초기화할때
    한꺼번에 최상위 요소인 html,body를
    마진,패딩 초기화값 0으로 셋팅한다! */
}

body {
    /* 하단패딩 pb */
    padding-bottom: 50px;
}

/* 박스공통 클래스 */
.bx {
    /* 1.가로크기 w 
    아무값도 안쓰면?
    auto인데...
    블록은 부모요소 끝까지 차지*/
    width: 750px;
    /* 2.세로크기 h 
    아무값도 안쓰면?
    auto인데...
    블록은 내용만큼만 늘어남*/
    /* height: 150px; */

    /* 3.경계선(보더) bd 
    boder: 두께 종류 색상 
        - border-width : 두께
        - border-style : 종류
        - border-color : 색상
        참고)
        https://www.w3schools.com/css/css_border.asp
    */
    border: 5px double #89db25;

    /* 둥근 모서리 보더 : brad
    border-radius : 값
    값을 50%를 주면 원이생김
        */
    border-radius: 10px;
    /* border-radius: 50%; */

    /* 4.안쪽여백(패딩) p 
        padding : 1개 (4방향동시)
        padding : 1개 2개 (위아래 양쪽)
        padding : 1개 2개 3개 (위 양쪽 아래)
        padding : 1개 2개 3개 4개 (각 방향:위 오른 아래 왼)
        ->>> 마진도 동일함!
    */
    padding: 20px;
    /* padding: 20px 50px 80px 5px; */

    /* 5.바깥여백(마진) m */
    /* margin: 30px; */
    margin: 0 auto;
    /* 마진탑 덮어쓰기 mt */
    margin-top: 30px;
    /* 
        마영오씨가 누구지?
        - 일반적인 블록요소가 가로크기를 가질때
        이를 중앙정렬하려면 양쪽 마진을 auto로
        설정한다. 이때 위아래 0 양쪽 auto를
        줄여서 마영오! 라고 함!
    */
}

/* 1.상단영역 */
.top {
    /* 배경색 : bgc
                background-color */
    background-color: #e6fff2;
    /* 글자중앙정렬 tac */
    text-align: center;
}
/* 타이틀 */
.top > h1 {
    /* 1.글자 스타일 fs : 
        font-style
        italic : 이탤릭
        normal : 이탤릭해제(기본값) */
    /* font-style: italic; */
    /* font-style: normal; */

    /* 2. 글자두께 fw : 
                font-weight 
                normal : 두께없음
                bold : 두껍게*/
    font-weight: normal;
    /* font-weight: bold; */

    /* 3. 글자크기 : fz 
                font-size 
                - 글자단위: pt,px,em,rem,vw,vh*/
    font-size: 50px;

    /* 4. 글자줄간격 : 
    line-height 
    (글이 여러줄일때 사이간격용
    또는 글자 박스에서 세로중앙정렬시)
    - 단위없으면 배수*/
    /* line-height: 1.7; */

    /* 5. 글자체 : ff
    font-family
    - 콤마로 여러개를 쓰면 대체체를 설정함 */
    font-family: "Black And White Picture", sans-serif;
    /* font-family: "긍서","글림","맑은고딕","돋움"; */

    /* 6. 글자색 : c 
                color : 해시코드/RGB/HSL/웹색상명 */
    color: darkgreen;
}

/* GNB 메뉴 a */
#gnb a {
    /* 글자체 */
    font-family: "Jua", sans-serif;
    /* a요소는 기본적으로 밑줄과 글자색이 셋팅됨!
                반드시 a에서 변경해야만 적용된다!(부모에서는 안됨!) */
    /* 글자크기 fz */
    font-size: 20px;
    /* 글자색 */
    color: darkslateblue;
    /* 밑줄없앰 - text-decoration:none */
    text-decoration: none; /* tdn */
}
/* a요소 오버시 */
/* :hover 가상클래스
            -> 마우스오버된 상태에 대한 디자인 셋팅 */
/* a+a:hover 앞에 a형제가 있는 a에 오버시 */
#gnb a + a:hover {
    /* 글자색 */
    color: lightseagreen;
    /* 글자 데코레이션 : text-decoration
                underline(밑줄)/overline(윗줄)
                line-through(중간줄)/none(없음) */
    text-decoration: overline;
}
/* 로고 이미지 */
#gnb img {
    /* 인라인요소간 세로정렬(진행방향) : va
                vertical-align
                - 값:top,bottom,middle,수치 */
    vertical-align: -3px;
}

/* 2.메인영역 */
/* 메인영역 이미지
-> 메인의 .cont 직계자식 img만 적용되게함! */
.cont>img {
    width: 100%;
    /* 한쪽만 크기를 주면
    이미지는 자동으로 비율유지를 하면서
    변경된다! 100%는 부모박스를 채움! */
}
/* 3.하단영역 */
.info {
    /* 배경색 */
    background-color: #e7e7e7;
    /* 글자중앙정렬 */
    text-align: center;
}
/* 하단주소 */
.info address {
    /* 글자체 */
    font-family: "Jua", sans-serif;
    /* address는 기본 이탤릭 이므로 해제하기 */
    font-style: normal;
    /* 글자색 */
    color: #333;
    /* 글자크기 */
    font-size: 15px;
}
