@charset "utf-8";
/* 서브페이지 공통 CSS - sub.css */

/* 
    [import 로 파일 합치기]
    외부 CSS 파일에서 다른 외부 CSS 파일을
    import방식으로 불러올때 장점은?
    html파일에서 link요소로 호출할 경우
    http request (웹요청) 이 많아져서
    페이지 랜더링 속도에 영향을 미친다!
    따라서 import방식을 쓰면 더 적은 
    웹요청에 따라 처리 속도에 도움이 된다!    

    - 주의 : import는 CSS파일 상단에서 처리한다!
    */
    /* @import url(파일주소); */
    @import url(./common.css);
    
    /* 본 CSS 설정 코드는 하단에 한다! */
    
    /* 메인영역박스 */
    .cont{
        /* 패딩 15px (기존20px 재정의) */
        padding: 15px;
    }

/* 2-1.언론사로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로,세로 중 한쪽만
    주면 자동 비율유지를 함! */
}
/* 2-2.기사제목 */
.atit{
    /* 글자크기 fz30 */
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spacing : ls 
    기본값 0(normal), 양수는 멀어짐,음수는 가까워짐*/
    letter-spacing: -1px;
    /* 단어간격 word-spacing : ws 
    기본값 0(normal), 양수는 멀어짐,음수는 가까워짐*/
    word-spacing: 1px;

    /* 줄바꿈 방지 : 공백->백공->white-space
    값-> nowrap 박스끝에서 줄바꿈 안되고 계속감 
         normal(기본값) 박스끝에서 줄바꿈 
    [언제쓰나?]
    -> 줄바꿈이 되면 안될때
    (예: 한줄에 오는 버튼글자, 한줄에 말줄임표)     
    */
    /* white-space: nowrap; */
}

/* 2-3.기사사진(+사진설명) */
.afig{
    /* 마진 m : 2개값 -> 위아래 양쪽 */
    margin: 15px 0;
    /* 인라인 가로중앙 : tac */
    text-align: center;
}
/* 기사이미지 */
.afig img{
    width: 100%;
}
/* 기사이미지 설명글 */
.afig small{
    /* 글자체 : ff */
    font-family: 'Jua', sans-serif;
    /* 글자크기 : fz 
    - 글자크기 최저 한계는 10px임*/
    font-size: 12px;
    /* 글자색 : c */
    color: #333;
}

/* 2-4.기사내용 */
.arti p{
    /* 글자크기 : fz */
    font-size: 17px;
    /* 줄간격 : lh 
    -> 주의: 단위가 없으면 배수임
    기준은 글자크기임! */
    line-height: 1.7;
    /* 양쪽패딩 : 위아래 양쪽 */
    padding: 0 10px;
    /* 자간 : ls */
    letter-spacing: 1px;
    /* 글자 들여쓰기 ti
    값: 양수는 들여쓰기, 음수는 내어쓰기*/
    /* text-indent: 20px; */
}

/* mark요소 변경하기! */
.arti p mark{
    /* 인라인을 블록으로 출신변경! */
    display: block;
    /* 글자크기변경 */
    font-size: 20px;
    /* 줄간격 주기 */
    line-height: 2;
    /* 위아래, 양쪽 패딩 */
    padding: 20px 50px;
    /* 배경색 */
    background-color: #ebebeb;
    /* 보더 위,아래 
    위(top),아래(bottom),
    왼쪽(left),오른쪽(right) */
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    /* 중앙정렬 */
    text-align: center;

    /* 위아래 마진 */
    margin: 15px 0;
}

/* p요소 아래 em요소 디자인 변경 */
.arti p em {
    /* 글자그림자 : text-shadow 
    값: x축 y축 블러 색 
    블러는 그림자 경계흐림정도*/
    text-shadow: 2px 2px 2px rgba(252, 27, 222, 0.645);
    /* 이탤릭해제 : fsn */
    font-style: normal;
    /* 글자색 */
    color: darkmagenta;
    /* 글자두껍게 : fwb */
    font-weight: bold;
}


/* 2-5.기자정보 */
.rpt {
    /* display 출신변경하기 
    디자인 적용과 동시에 인라인특성인
    글자만큼만 크기가 잡히도록 
    인라인블록으로 변경함*/
    display: inline-block;
    /* 글자크기 fz */
    font-size: 14px;
    /* 배경색 bgc */
    background-color: #dbdbdb;
    /* 패딩 */
    padding: 5px;
    /* 마진 */
    margin: 15px 0;
}
/* 2-6.기사원문 
별도의 이름없이 구조로만
기사원문을 선택한다! 직계자식! */
.cont>h5{
    /* 내부의 인라인요소 오른쪽 정렬 */
    text-align: right;
}
.cont>h5>a{
    /* 디자인 적용위해 display변경! */
    display: inline-block;
    /* 기본없애기 */
    margin: 20px 0;
    padding: 0;
    /* 가로,세로지정 */
    width: 70px;
    height: 70px;
    /* 테두리 bd */
    border: 2px solid #dbdbdb;
    /* 글자중앙 */
    text-align: center;
    /* 세로중앙 : 줄간격으로! */
    line-height: 70px;
    /* 모서리 둥글게하기 border-radius 
    brad -> 50%는 원 */
    border-radius: 50%;
    /* 배경색 bgc */
    background-color: lightsteelblue;
}
/* 가상클래스로 오버시 박스그림자 넣기 */
.cont>h5>a:hover{
    /* 박스그림자 
        box-shadow: x y blur spread 색;
        (내부그림자는 inset씀)
        - spread 박스그림자 크기(필요시씀)
    */
    box-shadow: 0 0 5px darkblue;
}



