@charset "utf-8";

/* 큐브 애니메이션2 CSS - cube2.css */

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

/* CSS 변수셋팅 */
:root{
    /* 큐브 공통크기 */
    --box-width: 150px;
    --box-height: 200px;
    /* z축거리 */
    --z-size: 30vh;
}

html,body{
    margin: 0;
    padding: 0;
    /* 스크롤 없앰 */
    overflow: hidden;
}
body{
    background-image: 
    linear-gradient(to bottom, #a1f4e0, #ef95fb);
    height: 100vh;
    font-family: 'East Sea Dokdo', cursive;
}

.cat-info{
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%) rotateX(360deg);
    width: 50vw;
    height: 20vh;
    background-color: rgb(255 255 255 / 0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #00000089;
    overflow: hidden;
}
.cat-info.on{
    top: 5vh;
    transform: translateX(-50%) rotateX(0deg);
    transition: 0.5s ease-out;
}
.cat-info h2{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    
    text-align: center;
    height: 35%;
    font-size: 6vh;
    color: goldenrod;
    text-shadow: 2px 2px 3px #000;
    backdrop-filter: blur(3px);
}
.cat-info p{
    padding: 2vh;
    margin: 0;
    height: 50%;
    padding-top: 7vh;
    font-size: 3vh;
    overflow: auto;
    color: #777;
}

/* 큐브를 직접 싸고 있는 대상 */
/* 
    [ 전체 랩핑박스 : .wrap ]
    1. 화면고정필수(fixed)
    2. 화면과 같은 크기설정
    3. 스크롤 셋팅(랩핑박스에서 스크롤됨!)
    4. 원근설정(perspective)
*/
.wrap{
    /* 1. 화면고정필수(fixed) */
    position: fixed;
    /* 2. 화면과 같은 크기설정 */
    width: 100vw;
    height: 100vh;
    /* 3. 스크롤 셋팅 */
    overflow: auto;
    /* 4. 원근설정 */
    perspective: 60vh;
}

/* preserve-3d 적용범위박스 + 높이값설정박스 */
.content{
    position: relative;
    height: 100vh;

     /* 
        [ 입체로 설정하기 ]
        - 입체로 설정할 요소의 부모박스에
        아래와 같이 설정해준다!
        (부모는 싸고 있는 요소 또는 상위요소)
        transform-style: preserve-3d
        - 기본값은 flat : 2D
        - preserve-3d : 3D
    */
    /* 원근 설정과 연결되는 3D설정! */
    transform-style: preserve-3d;
}


/* 작동버튼 */
.btngo{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    border-radius: 10px; 
    cursor: pointer;   
}
.btngo:hover{
    background-color: lime;
}

/* 큐브 */
.cube{
    position: absolute;
    top: calc(50vh - var(--box-height)/2);
    left: calc(50vw - var(--box-width)/2);
    width: var(--box-width);
    height: var(--box-height);

    /* 하위 span을 위한 3D설정 */
    transform-style: preserve-3d;

    /* 트랜지션 */
    transition: .3s ease-out;
   

    /* 입체를 잘보이게 하기위해 약간 회전함 */
    /* transform: rotateY(30deg); */

    /* outline: 2px solid red; */
}

/* 또 하나의 큐브 */
.cube2{
    top: calc(150vh - var(--box-height)/2);
}

/* 큐브 각면 공통 */
.cube span{
    position: absolute;
    /* 앱솔루트는 자동 block! */
    width: 100%;
    height: 100%;

    /* 투명도 */
    opacity: 0.8;
    outline: 1px solid gray;
}

/* 1번 */
.cube span:nth-child(1){
    background: 
    url(../images/imgs_moving/mv1.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: 
    translateZ(var(--z-size));
}
/* 2번 */
.cube span:nth-child(2){
    background: 
    url(../images/imgs_moving/mv2.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*1)) 
    translateZ(var(--z-size));
}
/* 3번 */
.cube span:nth-child(3){
    background: 
    url(../images/imgs_moving/mv3.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*2)) 
    translateZ(var(--z-size));
}
/* 4번 */
.cube span:nth-child(4){
    background: 
    url(../images/imgs_moving/mv4.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*3)) 
    translateZ(var(--z-size));
}
/* 5번 */
.cube span:nth-child(5){
    background: 
    url(../images/imgs_moving/mv5.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*4)) 
    translateZ(var(--z-size));
}
/* 6번 */
.cube span:nth-child(6){
    background: 
    url(../images/imgs_moving/mv6.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*5)) 
    translateZ(var(--z-size));
}
/* 7번 */
.cube span:nth-child(7){
    background: 
    url(../images/imgs_moving/mv7.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*6)) 
    translateZ(var(--z-size));
}
/* 8번 */
.cube span:nth-child(8){
    background: 
    url(../images/imgs_moving/mv8.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*7)) 
    translateZ(var(--z-size));
}
/* 9번 */
.cube span:nth-child(9){
    background: 
    url(../images/imgs_moving/mv9.jpg) no-repeat center/cover;

    /* 화면방향 : z축 */
    transform: rotateY(calc(40deg*8)) 
    translateZ(var(--z-size));
}



/* 큐브회전 클래스 */
.rotate-cube{
    /* 애니메이션 */
    animation: cube-ani 10s linear infinite;
    /* 애니메이션 멈춤상태 */
    /* animation-play-state: paused; */
}
/* 큐브회전 오버시 멈춤 */
.rotate-cube:hover{
    /* 애니메이션 작동상태 */
    animation-play-state: paused;
}

/* 큐브회전 키프레임 */
@keyframes cube-ani {
    to{
        transform: rotateY(-360deg);
    }
}
