@charset "utf-8";
/* 파일럿 PJ 카테고리 서브페이지 CSS - sub.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

html,body{
    overflow: visible;
}

/* 배너박스 */
#ban{
    height: 100vh;
}

/* 스와이퍼 디자인설정 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* 1. 신상품 컨텐츠 박스 */
.c1{
    background: url(../images/newarrival_bg.png) no-repeat top/auto 134%;
    overflow: hidden;
    /* 넘치는 자식요소 숨기기 + 자식마진포함 */
}
/* 신상품 타이틀 */
.c1tit{
    padding: 6% 15%;
    font-size: 4rem;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}

/* 신상품 박스 */
.flowbx{
    margin-bottom: 300px;
}
/* 움직일 리스트박스 */
.flist{
    position: relative;
    left: 0;/* 움직일 기준값 */
    display: flex;
}