<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 데이터 바인딩 연습3</title>
    <!-- 뷰JS 프레임워크 스텐드얼론 버전 가져오기 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 엑시오스 라이브러리 스텐드얼론 버전 가져오기(제이슨불러오기) -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>

    <script>
        window.addEventListener("DOMContentLoaded",
            () => {

                console.log("로딩완료!");

                // 뷰 인스턴스 만들기
                new Vue({
                    el:"#app",
                    data:{
                        vals:{}
                    },
                    mounted:function(){
                        axios.get("product.json")
                        .then(x=>this.vals=x);
                    }
                }); ////////// Vue //////////

                


            }); ////////////// 로딩구역 //////////////////////
    </script>
<style>
    #main{
        display: flex;
        flex-wrap: wrap;
    }
    #main>ul{
        width: 20%;
        text-align: center;
    }
</style>

</head>

<body>
    <h1>Vue JS 데이터 바인딩 연습</h1>
    <ul id="app">
        <!-- 원본테이터는 바로 하위로 못들어간다! -->
        <section id="main" v-for="(v,n) in vals.data">
            <!-- 여기서부터 하위로 바로 접근가능함! -->
            <ul v-for="(a,b) in v.멍멍이.items">
                <li>
                    <h2>아이디 : {{a.id}}</h2>
                </li>
                <li>
                    <h3>이름 : {{a.name}}</h3>
               </li>
              <li>
                  <textarea name="ta" id="ta" cols="30" rows="10">
                      설명 : {{a.description}}
                  </textarea>

              </li>
              <li>
                  <div v-html="'특징:'+a.features"></div>
              </li>
              <li>
                   가격: {{a.price}} $
              </li>
            </ul>
        </section>

    </ul>
    <!-- 
            v-for 디렉티브를 사용해서
            데이터 for문을 돌릴때
            각 변수의 의미는

            [ 객체일때 ]
            (값,속성명) in 변수.data

            [ 배열일때 ]
            (값,순번) in 변수.data

            v-if 디렉티브를 사용하여 조건에 맞을때만 출력!
            쌍따옴표 안에 조건문을 쓴다!

            예)
            v-if="value.메뉴!=='없음'"
            해석: 메뉴의 값이 '없음'이 아니면 출력함!

         -->
</body>

</html>