@charset "utf-8";

/* 보그 PJ 공통모듈 CSS - common.css */

/**************** 1. 상단영역 ****************/
.top{
    /* 최소높이 */
    min-height: 206px;
}
/* 1-1.상단메뉴 */
.tmenu{
    /* 플렉스박스 */
    display: flex;
    max-width: 970px;
    height: 44px;
    margin: 0 auto;
}
/* 상단메뉴 하위 파티션박스 */
.tmenu>div{
    /* 플렉스 하위 등분할 */
    flex: 1;
    /* 
        flex-shrink, flex-grow, flex-basis
    */
}
/* 1-2.로고박스 */
.logo{
    height: 104px;
    margin-bottom: 10px;
    text-align: center;
}
/* 1-3.GNB박스 */
.gnb{
    min-height: 46px;
    padding: 0 30px;
}

/**************** 2. 메인영역 ****************/
.cont{
    /* 최소높이 */
    min-height: 600px;
}
/**************** 3. 하단영역 ****************/
.info{
    /* 최소높이 */
    min-height: 286px;
}