@charset "utf-8";

/* 보그 PJ 공통모듈 CSS - common.css */

/**************** 1. 상단영역 ****************/
.top{
    /* 최소높이 */
    min-height: 206px;
}
/**************** 2. 메인영역 ****************/
.cont{
    /* 최소높이 */
    min-height: 600px;
}
/**************** 3. 하단영역 ****************/
.info{
    /* 최소높이 */
    min-height: 286px;
}