@charset "utf-8";

/* 보그 PJ 갤러리페이지 CSS - gallery.css */

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 컨텐츠 영역 속박스 */
.cont{
    min-height: 600px;
    padding: 15px;
}


/* 2-1-1. 서브타이틀 */
.stit {
    font-family: pist;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    padding: 40px 0 20px;    
}

/* 2-2. 서브 컨텐츠 박스 */
.scont{
    min-height: 600px;
    /* 드래그선택 안되게하기 */
    user-select: none;
    -webkit-user-drag: none;
}

