@charset "utf-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap');

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/


/* 초기화 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;
}
/* 초기셋팅 */
a{
    color: #fff;
    text-decoration: none;
}
body{
    /* 배경이미지 채우기 */
    background: url(../ab_img/space.jpg) no-repeat fixed center/cover;
}

/* 1. 전체 타이틀 */
.tit{
    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 70px;
    /* 글자두께 보통 */
    font-weight: normal;
    text-align: center;
    /* 위아래 패딩 */
    padding: 50px 0;
}

/* 2. 메인 캐릭터 박스 */
.abx{
    position: relative;
    /* 부모자격 - .cbx의 부모 */
    width: 300px;
    height: 400px;
    /* 배경이미지 */
    background: url(../ab_img/ab0.jpg) no-repeat center/cover;
    /* 둥근모서리 -> 원형 50% */
    border-radius: 50%;
    /* 마영오! */
    margin: 0 auto;
    /* 글러우 효과 : 박스그림자 응용 
    box-shadow: x y blur spread 색
    inset은 내부그림자 */
    box-shadow: 
    0 0 50px 10px cyan,
    inset 0 0 30px lightgreen;
}

/* 캐릭터박스 */
.cbx{
    /* 앱솔루트 포지션 
    위치값 주기전 상태:
    모두겹칩,싸고있는 박스에 그대로 있고(젠틀),
    크기는 내용만큼 자동, 나중것이 기본위*/
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    /* 부모는? .abx */

    /* 
        [앱솔루트 자식박스 
        부모박스의 정중앙 위치하기]
        top : calc(50% - 자기height절반)
        left : calc(50% - 자기width절반)
        -> 원리: 50%밀고 자신크기절반 빼서
        정중앙으로 위치를 이동하는 것!
        계산은 calc() CSS함수를 사용!
        (+,- 연산시 기호 앞뒤를 꼭 띄어쓴다!)
    */

    /* 박스크기 설정 */
    width: 150px;
    height: 150px;
    
    /* 박스테두리 */
    /* outline: 3px dotted yellow; */
}
/* 캐릭터 이미지 */
.cbx img{
    /* 크기를 박스에 맞춤!
    -> 이미지가 왜곡된다! 어떻하지?
    -> object-fit:cover 를 쓴다! */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 
        [ object-fit 속성 ]
        -> 이미지나 동영상을 박스에 맞출때
        옵션을 설정해 주는 속성
        1. fill : 설정값에 강제적용(기본값)
        2. contain : 박스에 모두 보임
        3. cover : 박스를 비율에 맞게 채움
            -> 빈틈없이 채우며 배경cover와
            유사한 효과를 준다! 
    */


    /* 이미지 둥글게 */
    border-radius: 50%;

    /* 글로우효과 */
    box-shadow: 0 0 30px lightgreen;
}