@charset "utf-8";

/* Robot PJ 미디어쿼리 CSS - robot_media.css */

/* 1024px이하 */
@media screen and (max-width: 1024px) {
    /* 링크박스 */
    .link {
        top: 40px;
    }
    /* 링크이동 버튼 */
    .link a {
        font-size: 35px;
    }
    /* 
        [ 기존 애니메이션 적용 요소 변경시 ]
        애니메이션을 없애고(none) 디자인을
        변경한다!
        필요에따라 애니메이션을 다시 설정한다!
    */
    /* 로고박스 */
    .logo {
        animation: none;
        top: 30px;
        left: 30px;
        transform: scale(1);
        width: 150px;
        height: 150px;
        font-size: 25px;
    }
    /* 로고애니메이션 재설정 */
    .logo {
        animation: 
        logoAni2 0.5s ease-in-out 3s infinite alternate;
    }
}
/* 1024px이하 */

/* 900px이하 */
@media screen and (max-width: 900px) {
    /* 로봇설명박스 */
    .dcbx {
        margin: 0 30px;
    }
    /* 2-2-3.내용단락 */
    .dcbx p {
        /* 다중열개수 */
        column-count: 2;
    }
}
/* 900px이하 */

/* 500px이하 */
@media screen and (max-width: 500px) {
    html,body{
        position: relative;
        /* 부모자격 없이 앱솔루트인 요소가
        html,body 바깥쪽으로 나가서 가로스크롤
        생기는 경우가 있으므로 최종적으로
        body가 부모자격을 가지도록 함! */
        width: 100vw;
        /* 보이는화면 가로크기 채움 */
        overflow-x: hidden;
        /* x축 스크롤 없애기! */
    }
    .link{
        position: static;
        text-align: center;
        padding: 20px 0;
    }
    .logo {
        animation: none;
        top: 90px;
        left: 30px;
        transform: scale(1);
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 20px;
    }
    /* 로고애니메이션 재설정 */
    .logo {
        animation: 
        logoAni2 0.5s ease-in-out 3s infinite alternate;
    }
    /* 2-2-3.내용단락 */
    .dcbx p {
        /* 다중열개수 */
        column-count: 1;
    }
}
/* 500px이하 */
