@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 초기화 */
html,body,h1,h2,p,ol,ul{
    margin: 0;
    padding: 0;
}

/****** 공통 클래스 ******/
/* 메탈소재1 배경 */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 메탈소재2 배경 */
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}


body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중표시 */
body * {
    outline: 2px dashed yellow;
}


/***************** 1. 상단영역 *****************/


/***************** 2. 메인영역 *****************/

/* 2-1.로봇박스 */
.robx{
    /* 패딩 위,아래 */
    padding: 200px 0 400px;
}

/* 로봇머리 */
.head{
    position: relative;
    /* 부모자격 - 하위 div들 */
    width: 250px;
    height: 250px;
    /* 마.영.오! */
    margin: 0 auto;
}
/* 로봇머리 직계하위 div는 모두 앱솔루트! */
.head > div{
    position: absolute;
}

/* 눈공통 */
.eye{
    width: 50px;
    height: 50px;

    /* 배경공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    /* 둥근모서리 : 50% 원 */
    border-radius: 50%;
    /* 보더 이중선 : double */
    border: 4px double #000;
}
/* 왼눈 */
.e1{
    top: 50px;
    left: 50px;
    background-image: url(../images/e1.jpg);
}

/* 오른눈 */
.e2{
    top: 50px;
    right: 50px;
    background-image: url(../images/e2.jpg);
}
/* 코 */
.nose{
    top: 98px;
    left: 100px;
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    /* 둥근모서리 */
    border-radius: 30px;
}
/* 입 */
.mouth{
    bottom: 30px;
    left: 78px;
    width: 90px;
    height: 38px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀공통 */
.ear{
    top: 80px;
    width: 50px;
    height: 70px;
}
/* 왼귀 */
.er1{
    left: -50px;
    border-radius: 50% 0 0 50%;
}
/* 오른귀 */
.er2{
    right: -50px;
    border-radius: 0 50% 50% 0;
}


/***************** 3. 하단영역 *****************/