@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);


/* 공사중 표시 */
body * {
    outline: 1px dashed ghostwhite;
}

/* 전체배경색 */
body{
    background-color: #000;
}

/**************** 1.상단영역 ****************/
/* 속박스 */
.top{
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1.로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 글로우 효과 */
    text-shadow: 0 0 4px aquamarine;

    /* 애니메이션: 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
    
}
/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
} /* 키프레임 */


/**************** 2.메인영역 ****************/
/* 속박스 */
.cont{
    position: relative;
    /* 부모자격 - .screen */
    height: 788px;
    /* 극장배경 넣기 */
    background: url(../images/bg.jpg) no-repeat center top/100%;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    top: 136px;
    left: 256px;
    width: 702px;
    height: 398px;
    background-color: #000;
}
/* 유튜브 아이프레임 */
.screen iframe{
    /* 화면채우고 보더없앰 */
    width: 100%;
    height: 100%;
    border: none;
}

/* 2-2.예고편 선택메뉴 */
.mlist{
    position: absolute;  
    bottom: 61px;
    left: 50%;
    width: 702px;
    transform: translateX(-49%);

    /* 앱솔루트 부모자격이 있는 요소의
    overflow가 적용됨! */
    overflow: hidden;

}
/* 선택메뉴 ul */
.mlist ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향정렬 : 양쪽끝 맞춘후 사이간격일정 */
    justify-content: space-between;
    
}
/* 선택메뉴 상위li */
.mlist ul>li{
    overflow: hidden;
}
/* 포스터 이미지 */
.mlist img{
    width: 99px;
    height: 140px;
}

/* 영화정보박스 */
.movtxt{
    /* 플렉스박스 */
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 진행방향정렬 : 중앙 */
    justify-content: center;

    /* 앱솔루트 포지션 */
    position: absolute;
    top: 100%;
    width: 99px;
    height: 140px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);

    /* 글자셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 2;

    /* 트랜지션: 속시이지 */
    transition: 
    top .5s cubic-bezier(0.72, 0.1, 0.28, 0.86);
}
/* 상위li에 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}


/**************** 3.하단영역 ****************/
.info{
    height: 100px;
}