@charset "utf-8";
/* CGV PJ 미디어쿼리 CSS - media.css */

/************* 1330px 이하 사이즈 시작 *************/
@media screen and (max-width: 1330px) {
    /* 1-2.GNB메뉴 */
    .gnb {
        right: 69px;
    }
}
/************* 1330px 이하 사이즈 종료 *************/

/************* 1050px 이하 사이즈 시작 *************/
@media screen and (max-width: 1050px) {
    /* 1-2.GNB메뉴 */
    .gnb {
        bottom: -123px;
        right: 23px;
        padding-top: 16px;
    }
    /* ul박스 */
    .gnb ul {
        flex-direction: column;
        align-items: flex-end;
        display: none; /* 처음에 안나옴! */
    }
    /* GNB오버시 ul보이기 */
    .gnb:hover ul {
        display: flex;
        /* 보이게할때 원래 셋팅된 display로 돌아감!(중요!) */
    }
    /* 영사기박스 */
    #cam {
        bottom: 131px;
        right: -7px;
        z-index: 0; /* -1을 복귀함! */
        cursor: pointer;
    }
    /* 서브메뉴 오버시 안나오게함!
    -> 방법2가지
    1) hover설정 덮어쓰기
    2) 원소스에 미디어쿼리로 감싸주기(min-width설정) */
    .gnb ul > li:hover .smenu {
        display: none;
    }

    /* 하단영역 */
    .info {
        height: auto;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    /* 3-1.로고 */
    .logo {
        margin-right: 0;
    }
    /* 3-2.회사정보 */
    .corp address {
        text-align: center;
    }
    /* 3-3.SNS */
    .sns {
        /* 오른쪽 끝위치 */
        margin-left: 0;
    }
}
/************* 1050px 이하 사이즈 종료 *************/

/************* 800px 이하 사이즈 시작 *************/
@media screen and (max-width: 800px) {
    /* 메인 타이틀 */
    .tit {
        font-size: 8.7vw;
    }
    /* 선택메뉴 ul */
    .mlist ul {
        flex-wrap: wrap;
    }
    /* 선택메뉴 상위li */
    .mlist ul > li {
        flex-basis: 31.83%;
        /* 사이간격 마진이 빠진비율임!
        -> flex-basis는 width와 같지만
        flex 통합설정에서는 flex-basis로
        재정의 된다! */
    }

    /* 2.메인영역 */
    /* 속박스 */
    .cont {
        /* 비율설정 */
        aspect-ratio: 1/1.3;
        background-size: 130%;
    }
    /* 2-1.스크린 */
    .screen {
        top: 11.2%;
        left: 12.7%;
        width: 76.2%;
        height: 33.4%;
    }
    /* 2-2.예고편 선택메뉴 */
    .mlist {
        bottom: 0.4%;
        width: 70%;
    }
    /* 극장가는길 애니박스 없앰! */
    .anibx {
        display: none;
    }

    /* 영화정보박스 */
    .movtxt {
        font-size: 3vw;
    }
    /* 영화정보박스 제목만 변경 */
    .movtxt li:first-child {
        font-size: 3.3vw;
    }
}
/************* 800px 이하 사이즈 종료 *************/
