<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS 기초</title>
    <!-- 뷰JS 스탠드얼론 버전 가져오기! -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        window.addEventListener("DOMContentLoaded",
        ()=>{

            console.log("로딩완료!");

            // new Vue() 하는 순간! 
            // 뷰객체가 인스턴스로 메모리에 생성된다!
            // 선택대상요소가 가상돔으로 메모리상 변경가능하다!
            // 1. 텍스트 바인딩 ////////////////////////////////
           new Vue({
            // 1. el 은 적용할 요소(element)를 담는 속성
            el: "#app1",
            // 2. data 는 사용할 데이터를 셋업하는 속성
            data: {
                message: "나는 뷰JS를 잘쓰는 프론트엔드 개발자다!",
                yo: "요"
            },
            // 3. 함수구역만들기 : methods 속성
            methods:{
                // 변경함수
                chgTxt : function() {
                    // this키워드를 인스턴스자신으로 사용할경우
                    // 화살표함수말고 일반익명함수를 사용!
                    // 화살표함수는 window를 가리킴
                    console.log("나야나!",this.message);
                    // 내부속성으로 접근가능함!
                    this.message = "너는 누구냐?";
                    this.yo = "헐";
                    // 인스턴스 내부 데이터가 변경되면 
                    // 연결된 부분이 모두 업데이트 된다!
                }
            }
           }); ////////////// #app1 Vue //////////////

            // 2. 반복 렌더링 //////////////////////////////

            new Vue({
                // 대상요소 선정
                el:"#app2",
                // 데이터 셋팅
                data:{
                    list :["김수현","공유","송강"],
                    // 상품리스트
                    goods:[
                        {
                            상품명:"나이키",
                            코드:"nike3233",
                            가격:"155,000원"
                        },
                        {
                            상품명:"프로스펙스",
                            코드:"pros7788",
                            가격:"255,000원"
                        },
                    ]
                }

            }); ///////////// #app2 Vue ////////////
            
            // 3. 이벤트 사용하기 ////////////////////////
            


            // 4. 입력 양식과 동기화하기 /////////////////
            

        }); ////////////// 로드구역 ////////////////////

    </script>
</head>
<body>
    <h1>Vue JS 기초연습</h1>

    <hr>

    <h2>1. 텍스트 바인딩(binding->데이터넣기!)</h2>
    <div id="app1">
        <p> {{message}} </p>
        <p>세상은{{yo}} 너희가{{yo}} 아는바{{yo}} 그 세상이{{yo}} 아니란다!{{yo}}</p>
        <!-- 
            {{}} 중복중괄호는 콧수염 표시자(Mustasch)
            이 부분에 뷰JS 데이터를 넣는 자리다!
            -> 콧수염 표시자는 주로 데이터를 합쳐서 표현할때
            많이 사용된다!
            -> 주의사항 : 내용으로 표현식만 쓸것!
                        예) 표현식은 1+1과 같이 그자리에 값이 찍히는 것을 표현식이라고 보면됨!
                        -> 문장은 쓰지말것!!!
                        문장은 if문, for문 , 할당문
                        예) if(){}, for(){}, let x = "ㅎㅎ"
         -->
         <button v-on:click="chgTxt">변경하기</button>
         <!-- 
            [ 뷰JS 인스턴스 내부의 요소 속성만들기 ]
            v- 로 시작하는 속성명을 디렉티브 라고 한다!
            예)
            v-on:이벤트명 = "함수"
            v-bind:value = "값"
            v-if="코드"

          -->
    </div>

    <hr>

    <h2>2. 반복 렌더링</h2>
    <div id="app2">
        <!-- 단순 배열데이터 찍기 -->
        <ol>
            <li v-for="item in list"> {{item}} </li>
        </ol>

        <!-- 배열안에 반복되는 객체데이터 찍기 -->
        <ul v-for="(item,i) in goods">
            {{"아이템번호 : " + (i+1) }}
            <li v-for="(val,name) in item">
                {{name + ":" + val}}
            </li>
        </ul>
        <!-- 
            [v-for 디렉티브]
            는 뷰JS에서 사용하는 반복구분이다!
            반복할 요소에 직접 속성형식으로 사용함

            1. 값구성: 변수 in 데이터변수
            -> 변수는 내가지은이름, in 뒤의 데이터변수는
            뷰인스턴스의 data속성에 셋팅된 변수!
            셋팅된변수가 배열/객체 이다!

            2. 해석 : list 에 할당된 개수만큼 돌아서
            하나씩 변수에 넣을때 머스테쉬가 있는 요소를
            반복하여 DOM에 반영한다!

            3. 배열일 경우 전달값 2개
            -> (하나,둘) in 배열
            ->> 하나 - 배열값, 둘 - 순번

            4. 객체일 경우 전달값 2개
            -> (하나,둘) in 객체
            ->> 하나 - 객체값, 둘 - 속성명

            ->>> 배열이든 객체든 반복시 값만 쓸 경우에는
            전달변수를 하나만써도 무방함! 왜? 첫번째 전달변수가
            배열값/객체값 이기 때문이다!!!


         -->
    </div>

    <hr>

    <h2>3. 이벤트 사용하기</h2>
    <div id="app3">
        
    </div>

    <hr>

    <h2>4. 입력 양식과 동기화하기</h2>
    <div id="app4">
        
    </div>

    <hr>

    <h2>5. 조건분기</h2>
    <div id="app5">
        
    </div>


    
</body>
</html>