@charset "utf-8";
/* 회전하는 아이폰 + 흐르는 글자 CSS - iPhone.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: 'Anton', sans-serif; */


html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    /* 보이는 화면 채우기 */
}
body{
    background-image: 
    linear-gradient(to bottom, #fff 20%,skyblue 40%,#fff);
    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}
/* 폰박스 */
.iphone{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 100px);
    /* 계산을 통한 정중앙셋팅! */
    width: 200px;
    height: 400px;
    /* outline: 2px solid blue; */

    /* 입체설정 */
    transform-style: preserve-3d;
    /* 입체를 잘보이게 약간회전 */
    transform: rotateX(10deg) rotateY(30deg);
}
/* 폰 각면 공통 */
.iphone span{
    position: absolute;
    width: 200px;
    height: 400px;

    /* 배경공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* outline: 1px dashed red; */
}
/* 1.앞면 */
.iphone span:nth-child(1){
    background-image: url(../images/ip01.png);
    /* z축 밀기 */
    transform: translateZ(10px);
}
/* 2.오른쪽면 */
.iphone span:nth-child(2){
    background-image: url(../images/ip03.png);
    width: 20px;
    right: -10px;
    /* y축회전 90도 */
    transform: rotateY(90deg);
}
/* 3.왼쪽면 */
.iphone span:nth-child(3){
    background-image: url(../images/ip04.png);
    width: 20px;
    left: -10px;
    /* y축회전 -90도 */
    transform: rotateY(-90deg);
}
/* 4.아래쪽면 */
.iphone span:nth-child(4){
    background-image: url(../images/ip05.png);
    height: 20px;
    bottom: -10px;
    /* x축회전 90도 */
    transform: rotateX(90deg);
}
/* 5.윗쪽면 */
.iphone span:nth-child(5){
    background-image: url(../images/ip06.png);
    height: 20px;
    top: -10px;
    /* x축회전 -90도 */
    transform: rotateX(-90deg);
}
/* 6.뒷면 */
.iphone span:nth-child(6){
    background-image: url(../images/ip02.png);
    /* z축 밀기 + Y축 회전 180도 */
    transform: 
    translateZ(-10px) rotateY(180deg);
}

/* 애니호출 클래스 */
.ip-ani{
    /* 애니메이션: 이시이지반방마 */
    animation: ipAni 1.5s ease-in-out 1s 2 alternate;
}

/* 아이폰 회전 키프레임 */
@keyframes ipAni {
    to{
        transform: 
        rotateX(370deg) rotateY(-330deg);
    }
} /* 키프레임 */


/* 흘러가는 글자 부모박스 */
.fbx{
    position: absolute;
    width: 100vw;
}
/* 텍스트 박스 (움직일박스) */
.tbx{
    position: relative;
    /* left초기값 */
    left: 0;
    /* 가로크기는 화면의 2배 */
    width: 200vw;    
    /* 플렉스박스 : 하위 ul옆으로 흐름 */
    display: flex;
}
/* 텍스트박스 하위 ul 2개공통 */
.tbx ul{
    /* 플렉스 박스 : 직계하위 li가 옆으로 흐름 */
    display: flex;
    /* 상위 .tbx의 플렉스에 대한 등분할 설정 */
    flex: 1;

    /* 기본없앰 */
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 하위 li 공통셋팅 */
.tbx li{
    /* 상위 ul의 플렉스 등분할 설정 */
    flex: 1;

    text-align: center;
    font-family: 'Anton';
    font-size: 4vw;
    color: #a0a0a0;
}

/* 글자애니 호출 클래스1 */
.txt-ani1{
    /* 애니메이션: 이시이지반방마 */
    animation: txtFlow1 10s linear infinite;
}

/* 글자흐르기 키프레임1 */
@keyframes txtFlow1 {
    to{
        left: -100%;
        /* 왼쪽방향 화면크기만큼 이동 */
    }
} /* 키프레임 */

/* .f1 위치 */
.f1{
    bottom: 5vh;
}


/* 여기서 부터 아래쪽은 .f2 글자흐름 셋팅입니다~! */

/* .f2 위치 */
.f2{
    top: 5vh;
}

/* .f2 .tbx 초기셋팅 */
.f2 .tbx{
    left: -100%;
}


/* 글자애니 호출 클래스2 */
.txt-ani2{
    /* 애니메이션: 이시이지반방마 */
    animation: txtFlow2 10s linear infinite;
}

/* 글자흐르기 키프레임2 */
@keyframes txtFlow2 {
    to{
        left: 0;
        /* 왼쪽방향 화면크기만큼 이동 */
    }
} /* 키프레임 */



/* 이벤트 처리박스 */
.evt{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    /* 애니후 width: 100vw변경!(JS에서) */
    height: 100vh;
    /* 플렉스박스 */
    display: flex;
}
/* 등분할 박스 */
.evt div{
    flex: 1;
    /* outline: 2px dashed blue;
    background-color: rgba(255, 0, 0, 0.509); */
}