@charset "utf-8";
/* Open Door CSS - opendoor.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
/* font-family: 'Comfortaa', cursive; */

/* 초기화 */
html,body,h1{
    margin: 0;
    padding: 0;
}

body{
    background-color: #9c0;
}

/* 전체 타이틀 */
.tit{
    font-family: 'Comfortaa', cursive;
    /* 최대글자크기 지정 */
    font-size: min(5vw,42px);
    padding: 5vh 0;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px #222;
}

/* 전체문부모 */
.cont{
    width: 200px;
    height: 300px;
    margin: 0 auto;
    background-color: #900;
}
/* 문프레임 */
.frame{
    position: relative;
    top: 20px;
    width: 150px;
    height: 280px;
    margin: 0 auto;
    background: url(../images/seashore.jpg) no-repeat center/auto 100%;
}
/* 문짝 */
.door{
    position: relative;
    /* 부모자격 : .handle */
    width: 150px;
    height: 280px;
    background-color: #c90;
}
/* 손잡이 */
.handle{
    position: absolute;
    top: 140px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
}