@charset "utf-8";

/* 태양계 3D 애니 - solar3d.css */

/************************************************* 
    [ CSS에서 변수사용하기 ]

    [ 변수설정하기 ] 
        :root{
            --변수명1: 값1;
            --변수명2: 값2;
        }
        
    [ 변수호출사용 ]
        var(--변수명)

    [ 변수는 언제 사용하나? ]
        ->>> 값은 값이 여러부분에서 사용될때
        ->>> 미디어쿼리 등에서 변경이 필요한 경우
        변수값만 변경하면 복잡한 값 변경이 불필요하게됨!

*************************************************/
:root{
    /* 태양크기 */
    --sunsz: 250px;
    /* 지구크기 */
    --esz: 80px;
    /* 달크기 */
    --msz: 40px;
    /* 목성크기 */
    --jsz: 150px;
    /* 토성크기 */
    --ssz: 160px;
    /* 명왕성크기 */
    --psz: 50px;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body{
    background: url(../images/space.jpg) no-repeat center/cover;
    overflow: hidden;
    /* 스크롤바없앰 */
}
/* 공통클래스 */

/* 배경이미지설명숨기기 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 공사중 표시 */
/* body *{
    outline: 1px dashed lightblue;
} */

/* 태양계박스(전체부모) */
/* 태양계 전체박스를 3D변형으로 기울임! */
#solar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;



}
/* 태양박스 */
#sun{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 박스 정중앙이동 */

    width: var(--sunsz);
    height: var(--sunsz);
    /* 원형 */
    border-radius: 50%;
    /* 원형 바깥쪽 글로우효과 */
    box-shadow: 0 0 60px 10px orange;

    /* 커지는 태양이미지 숨기기 */
    overflow: hidden;

}
/* 태양이미지 */
#sun img{
    width: 100%;
    height: 100%;

    /* 애니메이션: 이시이지반방마 */
    animation: flame 40s linear infinite alternate;
}
/* 태양이 이글거리는 애니메이션 키프레임 */
@keyframes flame {
    to{
        transform: scale(1.5);
    }
} /* 키프레임 */


/************* 행성공통 클래스 *************/
/* 궤도 클래스 */
.orbit{
    position: absolute;
    /* 부모는 #solar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 박스 정중앙이동 */

    /* 원형궤도 보더주기 */
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    
}
/* 행성 클래스 */
.planet{
    position: absolute;
    /* 부모는? .pos */
    top: 0;
    left: 0;
    /* 행성크기에 맞춤! */
    width: 100%;
    height: 100%;
    /* 원 */
    border-radius: 50%;
    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/************** 지구행성 셋팅 **************/
#earth.orbit{
    width: 600px;
    height: 600px;
}
/* 지구행성 포지션 - 중앙중심회전 */
#earth .pos{
    position: absolute;    
    /* calc() 계산으로 정중앙이동 */
    top: calc(50% - var(--esz)/2);
    left: calc(50% - var(--esz)/2);
    width: var(--esz);
    height: var(--esz);
/* 애니메이션 : 이시이지반방마 */
animation: earth 20s linear infinite;
}

/* 지구회전 키프레임 */
@keyframes earth {
    from{
        transform: rotate(0deg) translateX(-300px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(-300px) rotate(-360deg);
    }
} /* 지구회전 키프레임 */


/* 지구행성 셋팅 */
#earth .planet{
    background-image: url(../images/earth.png);
}


/************** 목성행성 셋팅 **************/
#jupiter.orbit{
    width: 1000px;
    height: 1000px;
}
/* 목성행성 포지션 - 중앙중심회전 */
#jupiter .pos{
    position: absolute;    
    /* calc() 계산으로 정중앙이동 */
    top: calc(50% - var(--jsz)/2);
    left: calc(50% - var(--jsz)/2);
    width: var(--jsz);
    height: var(--jsz);
/* 애니메이션 : 이시이지반방마 */
animation: jupiter 30s linear infinite;
}

/* 목성회전 키프레임 */
@keyframes jupiter {
    from{
        transform: rotate(0deg) translateY(-500px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateY(-500px) rotate(-360deg);
    }
} /* 목성회전 키프레임 */


/* 목성행성 셋팅 */
#jupiter .planet{
    background-image: url(../images/jupiter.png);
}

/************** 토성행성 셋팅 **************/
#saturn.orbit{
    width: 1400px;
    height: 1400px;
}
/* 토성행성 포지션 - 중앙중심회전 */
#saturn .pos{
    position: absolute;    
    /* calc() 계산으로 정중앙이동 */
    top: calc(50% - var(--ssz)/2);
    left: calc(50% - var(--ssz)/2);
    width: var(--ssz);
    height: var(--ssz);
/* 애니메이션 : 이시이지반방마 */
animation: saturn 40s linear infinite;
}

/* 토성회전 키프레임 */
@keyframes saturn {
    from{
        transform: rotate(0deg) translateX(-700px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(-700px) rotate(-360deg);
    }
} /* 토성회전 키프레임 */


/* 토성행성 셋팅 */
/* 가상요소로 토성이미지 배경으로 넣기 */
#saturn .planet::before{
    content: '';
    position: absolute;
    top: 0;
    left: -30%;
    width: 160%;
    height: 100%;
    background: url(../images/saturn.png) no-repeat 0/100% 100%;
}

/************** 명왕성행성 셋팅 **************/
#pluto.orbit{
    width: 1600px;
    height: 1600px;
}
/* 명왕성행성 포지션 - 중앙중심회전 */
#pluto .pos{
    position: absolute;    
    /* calc() 계산으로 정중앙이동 */
    top: calc(50% - var(--psz)/2);
    left: calc(50% - var(--psz)/2);
    width: var(--psz);
    height: var(--psz);
/* 애니메이션 : 이시이지반방마 */
animation: pluto 50s linear infinite;
}

/* 명왕성회전 키프레임 */
@keyframes pluto {
    from{
        transform: rotate(0deg) translateY(800px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateY(800px) rotate(-360deg);
    }
} /* 명왕성회전 키프레임 */


/* 명왕성행성 셋팅 */
#pluto .planet{
    background-image: url(../images/pluto.png);
}
