@charset "utf-8";
/* 웹폰트, 공통클래스 셋팅 CSS - core.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&display=swap');
/* 
    1. 캐릭터 설명 제목체
    font-family: 'Gugi', cursive;
    2. 캐릭터 설명 내용체
    font-family: 'Single Day', cursive;
    3. 캐릭터 설명 한자체
    font-family: 'ZCOOL KuaiLe', cursive;
    4. 전체 공통체(메뉴 등)
    font-family: 'Nanum Gothic', sans-serif;
*/

/* 전체 웹폰트 적용하기 */
body{
    font-family: 'Nanum Gothic', sans-serif;
}
