@charset "utf-8";
/* 웹폰트, 공통클래스 셋팅 CSS - core.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&display=swap');
/* 
    1. 캐릭터 설명 제목체
    font-family: 'Gugi', cursive;
    2. 캐릭터 설명 내용체
    font-family: 'Single Day', cursive;
    3. 캐릭터 설명 한자체
    font-family: 'ZCOOL KuaiLe', cursive;
    4. 전체 공통체(메뉴 등)
    font-family: 'Nanum Gothic', sans-serif;
*/

/* 전체 웹폰트 적용하기 */
body{
    font-family: 'Nanum Gothic', sans-serif;
}

/* 중앙 속박스 클래스 */
.ibx{
    max-width: 1200px;
    /* 1200px을 유지하다가 이것 보다 작아지면
    auto로 가로크기가 전환되어 가로스크롤이
    안생기게 됨! */
    margin: 0 auto;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬,사파리) 접두어 */
/* (참고: -ms-(ie), -o- (오페라), -moz-(파이어폭스) */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}

/* 배경이미지 설명넣기 숨기기 클래스
IR(Image Replacement) */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
