@charset "utf-8";
/* 도깨비 PJ 로그인페이지 CSS - login.css */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 메인 겉박스 */
#cont{
    background-color: #d7d7d7;
}

/* 메인 속박스 */
.cont{
    /* 최소높이 수정 */
    min-height: 600px;
}

/* 2-1.타이틀 */
.stit{
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    padding: 40px 0 20px;
}
/* 2-2.컨텐츠박스 */
.scont{
    position: relative;
    /* 부모자격 - .btnbx */
    max-width: 700px;
    min-height: 275px;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 10px;
    border: 2px  solid #777;
    padding: 60px 15px;
    /* 박스크기유지 : 보더,패딩포함 */
    box-sizing: border-box;
}

/* 입력창 공통 라벨 */
.minput label{
    /* 크기디자인 적용위해 */
    display: inline-block;
    width: 150px;
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    text-align: center;
    line-height: 3.6rem;
}
/* 입력양식 공통 */
.minput input{
    width: 320px;
    height: 36px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1.8rem;
    padding-left: 15px;
    /* 박스크기 유지 */
    box-sizing: border-box;
}
/* 비밀번호 박스 */
.scont div:nth-child(2){
    margin-top: 20px;
}

/* 포커스 아웃라인 제거
모든 브라우저에 기본 포커스 아웃라인 셋팅됨! */
input:focus{
    outline: none;
}
/* 버튼영역 */
.btnbx{
    position: absolute;
    top: 60px;
    right: 60px;
    /* 부모는? .scont */
}
/* 서브밋버튼 */
#sbtn{
    width: 113px;
    height: 92px;
    border: 1px solid #888;
    border-radius: 5px;
    /* 배경그라데이션 */
    background-image: 
    linear-gradient(to bottom,#ddd,#555);
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px #555;
}
/* 기타링크박스 */
.addbx{
    text-align: center;
    margin-top: 50px;
    font-size: 1.6rem;
    /* 체크박스 빠르게 체크시
    영역이 잡히는것 막기 */
    user-select: none;
}
/* 체크박스 라벨 숨기기 */
.addbx input{
    display: none;
}
/* 체크박스 라벨을 체크박스로 만들기 */
.addbx input+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: orangered;
    vertical-align: -1px;
    /* outline: 1px solid red; */
}
/* 체크박스 체크시 아이콘 변경 */
.addbx input:checked+label{
    font-weight: 900;
    /* 체크된 상태의 아이콘은 두께만 변경하면 됨! */
}
/* 기타링크 구분선넣기 */
/* span+span 앞에 span있는 span */
.addbx span+span::before{
    content: '|';
    margin: 0 15px;
}
/* 기타링크 a요소 */
.addbx a{
    text-decoration: none;
    color: #000;
}
.addbx a:hover{
    color: orangered;
    text-decoration: underline;
    text-decoration-style: wavy;
}
