@charset "utf-8";
/* 도깨비 PJ 메인페이지 CSS - main.css
-> 메인 페이지에만 나오는 디자인 */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 공사중 표시 */
body * {
    outline: 1px dotted red;
}

/* 컨텐츠파트 최상위부모 */
body{
    /* 한번에 배경주기 + 여러개 주기 */
    /* background : 색이반고윙/크 */
    /* 콤마로 구분하여 여러 배경이미지를 넣을 수 있고
    먼저쓴 이미지가 위에 온다! */
    background: 
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 20%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
    /* 외부CSS에서 이미지 경로를 잡을때 주의사항!
    -> CSS파일 위치에서 이미지를 찾아가야함! */
    /* fixed 인 배경이미지는 body의 높이값과 상관없이
    보이는 화면을 기준하여 그 크기를 잡는다! */
}

/**************** 메인영역 ****************/
/* 메인영역 속박스 */
.cont{

}

/* 전체 캐릭터 박스 */
.cbx{
    /* 가로크기 w */
    width: 90%;
    /* 마영오! */
    margin: 0 auto;
}

/* 자식요소의 float해제 clear설정 가상요소로하기 */
.cbx::after{
    content: '';
    display: block;
    clear: both;
}

/* 캐릭터 각 박스 공통 */
.cat{
    /* 블록박스 옆으로 흐르게 */
    float: left;
    /* 4등분할 가로크기 -> 25% */
    width: 25%;
}

/* 캐릭터 이미지 */
.cat img{
    /* 이미지 가로크기 박스채움 */
    width: 100%;
    /* 이미지 높이값은 자동(비율유지) */
}

