@charset "utf-8";

/* 도깨비PJ 공통 미디어쿼리 - media.css */

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1200px) {
    /* 하단 - 브랜드바로가기 */
    .brand {
        top: 159px;
        right: 10px;
    }
}
/* 1200px 사이즈 이하 미디어쿼리 끝 */

/* 1024px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1024px) {
    /* 전체 글자크기 변경 */
    html {
        /* rem단위 글자 모두 변경 */
        font-size: 8.235px;
        /* 
            [ 기준 글자계산 : GNB메뉴 ]
            처음 -> 1.7rem * 10px = 17px
            변경 -> 1.7rem * 몇px = 14px
            => 계산 : 몇px = 14px / 1.7rem
            => 결과 : 8.235
        */
    }
    /* 메인속박스 */
    .cont{
        /* 가로크기에 대한 비율을 만들어준다! */
        min-height: 100vw;
    }
    /* 전체 캐릭터 박스 */
    .cbx {
        margin-top: 10vw;
    }
    /* 캐릭터 각 박스 공통 */
    .cat {
        position: relative;
        /* 부모자격 - .cd */
        width: 49%;
        margin-bottom: 20px;
    }
    /* .cat에 오버시 .ci박스 마진탑 제자리 */
    .cat:hover .ci {
        margin-top: 0;
    }
    /* 캐릭터 설명박스 */
    .cd {
        position: absolute;
        z-index: 1;
    }

    /* 등장글자 없앰 */
    #mvtxt {
        display: none;
    }
}
/* 1024px 사이즈 이하 미디어쿼리 끝 */

/* 780px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 780px) {
    /* 디스플레이 없애기 */
    .tmenu, .gnb{
        display: none;
    }
    /* 햄버거 버튼 보이기 */
    .ham{
        display: block;
    }
    /* 상단영역 */
    .top{
        height: 80px;
    }
    /* 캐릭터박스 한줄에 하나 */
    .cat{
        width: 99%;
    }
    /* 캐릭터 설명박스 */
    .cd{
        /* 자리차지 포지션으로 전환! */
        position: static;
    }
    /* 설명박스 제목 */
    .cd h3{
        font-size: 4.5vw;
    }
    /* 설명박스 문단 */
    .cd p{
        font-size: 4vw;
        padding: 3vw;
    }
    /* 문단 첫글자 */
    .cd p:first-child::first-letter{
        font-size: 8vw;
    }

    /* 하단영역 */
    /* 브랜드 바로가기 */
    .brand{
        bottom: 10px;
        top: auto;
    }
    /* 하단링크 일부 숨기기(li:1~3) */
    .blink li:nth-child(-n+3){
        display: none;
    }
}
/* 780px 사이즈 이하 미디어쿼리 끝 */
