@charset "utf-8";
/* 도깨비 PJ 회원가입페이지 CSS - member.css */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 메인 겉박스 */
#cont{
    background-color: #d7d7d7;
}

/* 메인 속박스 */
.cont{
    /* 최소높이 수정 */
    min-height: 600px;
    padding: 0 5px 30px;
}

/* 2-1.타이틀 */
.stit{
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    padding: 40px 0 20px;
}
/* 2-2.컨텐츠박스 */
.scont{
    max-width: 700px;
    min-height: 275px;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 10px;
    border: 2px  solid #777;
    padding: 30px 50px;
    /* 박스크기유지 : 보더,패딩포함 */
    box-sizing: border-box;
}

/* 리스트 ul */
.scont ul{
    font-size: 2rem;
    /* html 10px*2=20px */
    font-weight: bold;
    color: #333;
}
/* 리스트 li */
.scont li{
    position: relative;
    /* 부모자격 - .msg */
    height: 50px;
    line-height: 50px;
    /* outline: 2px dotted red; */
}
/* 라벨공통 타이틀(.itit) */
.itit{
    display: inline-block;
    width: 200px;
}

/* 메시지박스 */
.msg{
    position: absolute;
    top: 35px;
    left: 0;
    /* 부모는? .scont li */
    height: 15px;
    line-height: 15px;

    font-size: 10px;
    color: red;
    white-space: nowrap;
}
/* 메시지 글자색 변경 클래스 */
.msg.on{
    color: green;
}


/* 입력박스 공통 */
.scont input[type=text],
.scont input[type=password]{
    width: 340px;
    height: 36px;
    font-size: 2rem;
    border: 1px solid #777;
    border-radius: 5px;
    padding-left: 5px;
}
/* 라디오버튼 */
.scont input[type=radio]{
    width: 20px;
    height: 20px;
    /* 인라인요소간 세로정렬 */
    vertical-align: -4px;
}

/* 이메일 앞주소 */
#email1{
    width: 170px;
}
/* 이메일 선택박스 
드롭다운박스==콤보박스 */
#seleml{
    width: 146px;
    height: 40px;
    border-radius: 5px;
    font-size: 2rem;
}
/* 이메일 뒷주소 */
/* 라벨숨기기 */
.ee{
    display: none;
}
#email2{
    width: 136px;
    float: right;
    margin-top: 5px;
    margin-right: 44px;
    display: none;
    /* 처음에 숨기기
    -> 직접입력 상태일때만 보임 */
}
/* 가입하기 버튼 */
#btnj{
    position: absolute;
    top: 5px;
    right: 44px;
    width: 113px;
    height: 40px;

    border: 1px solid #777;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,#ddd,#555);

    color: #fff;
    text-shadow: 1px 1px 1px #555;

    /* 손가락모양 */
    cursor: pointer;

}
