/* DC.com 핵심 공통 CSS - core.css */


/* 나눔바른고딕 */
@font-face {
    font-family: 'Ubuntu';
    src: url(../static/fonts/Ubuntu-Regular.woff2) format("woff2");
}

/* Pistilli체 */
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url(../static/fonts/UbuntuCondensed-Regular.woff2) format("woff2");
}

/* 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
*/