/* 회원가입 페이지 CSS */

/* 최상위 부모박스 */
.outbx{
    padding: 25px;
}
/* 전체박스 */
.membx{
    max-width: 700px;
    min-height: 600px;
    padding: 15px;
    border: 1px solid #555;
    margin: 0 auto;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}

.membx h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    padding: 15px;
    font-size: 30px;
}

.membx li{
    position: relative;
    padding: 25px;
}
.membx label{
    display: inline-block;
    width: 25%;
    text-align: right;
    font-size: 20px;
    white-space: nowrap;
}
.membx input{
    width: 60%;
    height: 3vh;
    margin-left: 5%;
    font-size: 20px;
    vertical-align: baseline;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}
.membx .msg{
    position: absolute;
    left: 31%;
    width: 50%;
    font-size: 14px;
    /* outline: 1px dotted red; */
    padding: 5px 0;
    font-weight: bold;
}

.membx .sbtn{
    padding: 15px;
    background-color: #0d6efd;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 4px solid darkblue;
    float: right;
    margin-right: 9%;
    cursor: pointer;
    transition: .3s;
}
.membx .sbtn:hover{
    background-color: #fd7e14;
}
.membx ul li:last-child{
    text-align: center;
}
.membx ul li:last-child a{
    color: #0d6efd;
    text-decoration: none;
}
.membx ul li:last-child a:hover{
    color: #fd7e14;
    text-decoration: overline;
    text-decoration-style: wavy;
}