/* 날씨 컴포넌트 CSS */

.info{
    position: relative;
    /* 날씨박스의 부모자격 */
}

.weather-bx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5vw;
    font-family: Ubuntu;
    font-size: 11px;
    border-radius: 10px;
    border: 2px dashed #fff;
    padding: 10px;
    text-align: center;
}


@media screen and (max-width:850px) {
    .weather-bx{
        top: 10%;
        transform: none;
        line-height: 10px;
        font-size: 9px;
    }
    .weather-bx h5{
        margin-top: 0;
    }
    .weather-bx img{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}