@charset "utf-8" ;

html, body, h1, h2, h3, h4, h5, h6, ul ,ol, dt, dd, p {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    overflow-x: hidden;

}

a {
    color: #fff;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

